* { margin: 0; padding: 0; border: 0; outline: 0; vertical-align: baseline; 
    font-family: inherit; font-weight: inherit;  font-style: inherit; font-size: inherit; }
table { border-collapse: collapse; border-spacing: 0; }
ul, ol { list-style: none; }

a:link { text-decoration: none; color: #3b5998; }
a:visited { text-decoration: none; color: #3b5998; }
a:link:hover, a:visited:hover { text-decoration: underline; color: #3b5998; }
b { font-weight: bold; }
body { font-size: 62.5%; line-height: 1; color: #000; background: #fff url(images/bg.png) repeat-x; font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;}

#container { margin: 0 auto; width: 875px; }

#head { position: relative; margin: 0 15px; }
#like { position: absolute; top: 42px; left: 215px; height: 24px; width: 100px; }
#quote { position: absolute; top: 35px; right: 0; height: 24px; width: 300px; text-align: right; }
#quote a { color: #fff; font-weight: bold; font-size: 13px; }
#logo { margin: 30px 0 10px 0; }
#tag { position: relative; margin: 0 15px; }
#tag h1 { padding: 14px 0; font-size: 13px; font-weight: bold; color: #203360; }
#learnwhy { display: block; position: absolute; top: 10px; right: 0; }

#updates, #about { margin: 30px; padding: 10px 15px; border: 1px solid #ccc; -webkit-border-radius: 3px; -moz-border-radius: 3px; }
#updates .header { font-size: 16px; font-weight: bold; color: #000; }

input[type=text] {border: 1px solid #bfc6d9; font-size: 13px; padding: 2px; }
input[type=radio] { margin: 0 0 0 10px; }
#search { vertical-align: bottom; }
#updates form { border-bottom: 1px solid #ccc; padding: 0 0 10px 0; }
.examples { padding: 10px 0 20px 0; }
.examples a { padding: 0 0 0 10px; }

.invisible {display: none;}

#results { padding: 10px; }
.waitloading {  clear: both; text-align: center; }
.update { padding: 0 0 20px 0; clear: both; }
.person { float: left; width: 215px; margin: 0 0 40px 0; }
.person img { padding: 1px; border: #ccc 1px solid; }
.msg { margin: 0 0 0 215px; font-size: 13px; line-height: 1.3em; }
.msg-metadata { font-size: 11px; color: #666; padding: 5px 0 0 0;  }
#finished { text-align: center; font-size: 16px; font-weight: bold; display: none; }
#returnlink { display: block; margin: 30px; text-align: center; font-size: 16px; font-weight: bold; }

#about { font-size: 13px; }
#about li { margin: 16px 0 12px 12px; line-height: 1.3; }
#about strong { font-weight: bold; }
#about p { margin: 12px; }




.gender-female {display: none;}
.gender-male {display: none;}

/*always show nongendered people*/
.gender-any {display: block;}

#results.show-gender-male .gender-male        { display:block; }
#results.show-gender-female .gender-female    { display:block; }
